/** 
 * MapChat Cloud Application Cascading Style Sheets (CSS) Style Definitions
 * Modeled after UIDesign tutorial by Osman Balci for CS 4984
 * Made by Anthony Barbee
 */

html, body {
    background-image: url(./images/background.jpg);  /* Background Image */

    /* Stretch the background image to cover the entire screen */
    -webkit-background-size: cover; /* For WebKit */
    -moz-background-size: cover;    /* For Mozilla */
    -o-background-size: cover;      /* For Opera */
    background-size: cover;         /* Generic */
    background-repeat: no-repeat;   /* Don't repeat the image */

    height: 100%;                   /* Set page height vertically 100% */
    width: 100%;                    /* Set page width horizontally 100% */
    margin: 0;
    padding: 0;
}

/* Style the text used under the standard HTML tag "body" */
body, p {
    font-family: "Times New Roman", Times, Serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* Style the text used under the standard HTML tag "h1" */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36pt;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* Style the text used under the standard HTML tag "h2" */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: gold;
}

/* Style the text used under the standard HTML tag "h3" */
h3 {
    font-family: "Avant Garde", Avantgarde, sans-serif;
    font-size: 24px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin: 0;
}

/**
 * Animates the Welcome text in the index.xhtml file
 */
#welcome {
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#welcome h3 {
    font-size: 72px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.leftAlign {
  text-align: left;
  float: left;
  margin-left: 10px;
}

.rightAlign {
  text-align: right;
  float: right;
  margin-right: 10px;
}

.message {
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #800080;
}

.outputLabel {
	font-family: "Times New Roman", Times, serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: normal;
	color: black;
}

/**
 * Template Component Styles
 */

/* In HTML or XHTML code, we refer to a CSS style defined in a CSS file by
using Selectors. 

See CSS Selector Reference at http://www.w3schools.com/cssref/css_selectors.asp

id is used if the style is used only once indicating that it is unique.
class is specified as .stylename and is used many times.
*/

/* The page id is used in siteTemplate.xhtml as <div id="page"> to 
style the text within the div content of the siteTemplate. */
#page {
    font-family: "Times New Roman", Times, Serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/**
 * infoPage is a class to help pad the content of certain pages
 */
.infoPage {
    padding: 15px;
}

/* The editableContent id is used in siteTemplate.xhtml as <div id="editableContent"> to 
style the editableContent component of the siteTemplate */
#editableContent {
    height: calc(100% - 160px); /* Subtract height of the footer + padding */
    padding-bottom: 70px; /* Footer Height for Bottom Margin */
}

/* The header id is used in siteTemplate.xhtml as <div id="header"> to 
style the header component of the siteTemplate */
#header {
    background-color: black;
    border: 0px black;
    border-bottom: 3px gold;
    border-style: solid;
    padding: 10px;
    height: 80px;
    top: 0;
}

/* The footer id is used in siteTemplate.xhtml as <div id="footer"> to 
style the footer component of the siteTemplate */
#footer {
    background-color: silver;
    position: fixed;
    padding-top: 10px;
    height: 70px;
    width: 100%;
    bottom: 0;
}

/**
 * An example CSS3 Button Style
 */
.button {
    border:1px solid #999999; -webkit-border-radius: 42px; -moz-border-radius: 42px;border-radius: 42px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 15px 5px 15px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,0.3);font-weight:normal; color: #000000;
    background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);   /* For WebKit */
    background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);      /* For Mozilla */
    background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);       /* For IE10+ */
    background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);        /* For Opera */
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#CFCFCF);
}

.button:hover {
    border:1px solid #7A7A7A;
    background-color: #EEEEEE; background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#C7C7C7));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #C7C7C7);   /* For WebKit */
    background-image: -moz-linear-gradient(top, #EEEEEE, #C7C7C7);      /* For Mozilla */
    background-image: -ms-linear-gradient(top, #EEEEEE, #C7C7C7);       /* For IE10+ */
    background-image: -o-linear-gradient(top, #EEEEEE, #C7C7C7);        /* For Opera */
    background-image: linear-gradient(to bottom, #EEEEEE, #C7C7C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EEEEEE, endColorstr=#C7C7C7);
}

/*** Styling the Header Component of the Site Template ***/

/* This places the MapChat logo on the left top corner */
.leftTopCornerAlign {
    position: absolute;
    padding: 10px;
    left: 0;
    top: 0;
}

/* This places the login bar or other header content in the right top corner */
.rightTopCornerAlign {
    position: absolute;
    right: 20px;
    top: 20px;
}

/*** Panel Styling ***/

/* This is the style for several panels throughout the web application */
.mc-panel {
    margin: 20px;
    padding : 20px; 
    background: #000000; 
    border: 5px gold;
    border-style: solid;
    border-radius: 10px;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px;
}

#introPanel {
    height: 25%;
    width: 25%;
}


/*** Dashboard Styling ***/

#group {
    background-color: black;
    position: fixed;
    height: 100%;
    float: left;
    width: 20%;
}

#map {
    position: fixed;
    height: 100%;
    float: left;
    width: 50%;
    left: 20%;
}

#chat {
    background-color: whitesmoke;
    position: fixed;
    height: 100%;
    float: left;
    width: 30%;
    left: 70%;
}

.vertical-btn-view {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    
    display: block;
    width: 50%;
}

/*** Profile CSS ***/

/* Users' profile picture */
.user-pic {
    margin: 10px;
}

 /* Weather table style */ 
.myTable {
	width: 200px;
	background-color: #eee;
	border-collapse: collapse;
}

.myTable th {
	background-color: #000;
	color: gold;
	width: 50%;
}

.myTable td, .myTable th {
	padding: 5px;
	border: 1px solid #000;
}	
.ForeCastTable {
	width: 450px;
	background-color: #eee;
	border-collapse: collapse;
}

.ForeCastTable th {
	background-color: #000;
	color: gold;
	width: 20%;
	table-layout: fixed;
}

.ForeCastTable td,.ForeCastTable th {
	padding: 5px;
	border: 1px solid #000;
}


/*** Create CSS ***/

/* Form Styling for Create Panel content*/
.create-content {
    display: block;
    width: 355px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
